/* reset */
body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, 
table, tr, th, td, 
form, fieldset, legend, input, label, select, textarea, button,
header, footer, nav, aside, section, article, main, 
a, span, strong, em, b, i, address {margin: 0; padding: 0; box-sizing: border-box;}
html {font-size: 0.625em;} /* 10px */
body, h1, h2, h3, h4, h5, h6, button {
	line-height: 1; /* line-height를 모두 해제하는 태그 */
}
a {text-decoration: none;}
ul, ol, li {list-style: none;}
img, fieldset {border: none; vertical-align: middle;}
strong, b, i, address {font-weight: normal; font-style: normal;}
table {border-collapse: collapse;}/* 이중실선 지우기 */
button{border: none; background-color: transparent; cursor: pointer;}

:root{
    --log-in-width: 100%;
    --log-in-height: 20vh;
    --todo-list-location: 75vh;
}

body{
    position: relative;
}

.hidden {
    display: none!important;
}

/* background img */
#BgImg{
    position: fixed;
    width: 100%;
    z-index: -2;
}
#Blur{
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.3),rgb(0, 0, 0));
    opacity: 70%;
    z-index: -1;
}

/* weather area */
#weather{
    position: absolute;
    top: 15px;
    right: 20px;
}
#weather span{
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-left: 10px;
}
/* log-in & greeting area */
#login-form{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--log-in-width);
    height: var(--log-in-height);
    top: 80px;
}
#login-form input{
    width: 230px;
    height: 80px;
    font-size: 42px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: none;
    background-color: inherit;
}
#login-form input::placeholder{
    color: #fff;
    font-size: 24px;
}
#login-form input:focus-visible{
    outline: none;
}
#login-form button{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    margin-left: 10px;
}

#greeting{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--log-in-width);
    height: var(--log-in-height);
    color: #fff;
    top: 80px;
}

#greeting h1{
    font-size: 48px;
    text-shadow: -2px -2px #000;
}
#rename{
    font-size: 16px;
    background-color: #fff;
    border: solid 1px #fff;
    border-radius: 15px;
    margin-top: 30px;
    padding: 2px 6px;
}

/* clock area */
#clock{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    top: calc(50% - 18rem);
    pointer-events: none;
}
#clock h2{
    color: transparent;
    text-shadow: 0 0 10px #fff;
    font-size: 36rem;
    opacity: 30%;
}

/* todo-list area */
#todo-form{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    width: 100%;
    height: 40px;
    top: var(--todo-list-location);
}
#todo-form input{
    width: 480px;
    height: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: inset 2.5px 3px 8px rgba(0, 0, 0, 0.8);
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    padding: 0 10px;
}
#todo-form input::placeholder{
    font-size: 24px;
}
#todo-form input:focus-visible{
    outline: none;
}

#todo-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 42px;
    text-align: center;
    top: calc(var(--todo-list-location) + 50px);
}
#todo-list li{
    display: flex;
    width: 480px;
    height: 100%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: inset 3px 2.5px 4px rgba(0, 0, 0, 0.637);
    line-height: 260%;
    margin: 5px auto;
    padding: 5px 12px;
}
#todo-list li:last-child{
    margin-bottom: 30px;
}
#todo-list li span{
    color: #000;
    font-size: 16px;
}
#todo-list li button{
    color: #000;
    margin-top: 4px;
    margin-left: auto;
}

/* quote area */
#quote{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    text-align: center;
}
#quote span{
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
}
#quote span:first-child{
    font-size: 24px;
}